{{#each checkboxes as |checkbox|}}
  <div>
      {{input type='checkbox' checked=checkbox.isSelected disabled=disabled}}
      {{checkbox.label}}

    {{#unless checkbox.isSelected}}
      {{#unless isLoading}}
       ({{#if isAnySelected}}+{{/if}}{{filter-value-count checkbox.value attributeId}})
      {{/unless}}
    {{/unless}}

  </div>
{{/each}}
