{{#unless nodes.isLoaded}}
  <div class="text-center">
    <div>Loading...</div>
  </div>
{{else}}
  {{#each nodes as |node|}}
    <div class="item  col-xs-6 col-sm-4 col-md-4 col-lg-2">
      <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{node.title}}
          </h4>
          <p class="group inner list-group-item-text">
            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                $21.000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div>Nothing to show.</div>
  {{/each}}
{{/unless}}

{{yield}}